
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que qualquer pessoa (autenticada ou não) leia e escreva na coleção de comentários.
    match /confession_lesson_comments/{document=**} {
      allow read, write: if true;
    }

    // Protege a coleção de usuários, permitindo que cada usuário
    // apenas acesse e modifique seus próprios dados.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }
  }
}
