rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /confession_lesson_comments/{commentId} {
      // Permite que qualquer usuário autenticado leia e liste comentários.
      allow list, read: if request.auth != null;
      
      // Permite que um usuário autenticado crie um comentário se o 'userId' no novo documento
      // corresponder ao UID do usuário que está fazendo a solicitação.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
