rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /confession_lesson_comments/{document=**} {
      // Qualquer usuário autenticado pode ler (get) e listar (list) comentários.
      allow read: if request.auth != null;
      
      // Um usuário autenticado pode criar (create) um comentário se o 'userId' do novo
      // documento for o mesmo que o seu próprio ID de usuário (uid).
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
    
    // As regras para a coleção de usuários permanecem as mesmas.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
